[user]
	name[]=Zong-Ming-Jing
	email=wagle22032203@gmail.com
[colcr]
	ui=true
[alias]
	a = add
	b = branch
	bd = branch -D
	bl = branch -l
	cm= commit -m
	co = checkout
	sb = show-branch
	st = status
	DP= /d/test
